/*
@font-face { 
    font-family: "RoundsBlack";
    src: url("../fonts/RoundsBlack/RoundsBlack.eot"),
    url("../fonts/RoundsBlack/RoundsBlack.woff") format("woff"),
    url("../fonts/RoundsBlack/RoundsBlack.ttf") format("truetype");
}
*/

@font-face {
	font-family: 'RoundsBlack';
	src: url('../fonts/roundsblack.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/roundsblack.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/roundsblack.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roundsblack.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/roundsblack.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/roundsblack.svg#roundsblack') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'RoundsNeue';
	src: url('../fonts/TTRoundsNeue-Bold.ttf') format('truetype');
}


div {
    width: 1000px; /* ширина основного блока */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}

body{
    background: #7c5244ff;
    margin-bottom: 15px;
    font-size: 32px;
    color: #fce6b5ff;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

hr {
    border: none; /* Убираем границу */
    background-color: #fce6b5ff; /* Цвет линии */
    color: #fce6b5ff; /* Цвет линии для IE6-7 */
    height: 10px; /* Толщина линии */
    border-radius: 15px;
}

h2{
    font-family: RoundsNeue;
    margin: 5px;
}

.header {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.content {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.link_buttons button{
    border: none;
    border-radius: 25px;
    float: left; /* Float the buttons side by side */
    background: #fce6b5ff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    height: 100px;
    font-size: 32px;
    color: #7c5244ff;
    margin-right:8px;
    width: 49%;
}

button{
    font-family: RoundsBlack;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 25px;
    background: #fce6b5ff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    height: 100px;
    font-size: 48px;
    color: #7c5244ff;
    width: 100%;
    transition: 0.2s;
}

button:hover{
    background: #f8f6ddff;
}

#kvadrat {
    float: left;
    margin: 10px;
    width: 480px;
    height: 480px;
    border-radius: 25px;
    background: #fce6b5ff;
    color: #7c5244ff;
    text-align: center;
}